<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm" (ngSubmit)="onSaveItem()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            ngModel
            required
            placeholder="Enter Name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            [pattern]="'^[1-9]+[0-9]*$'"
            class="form-control"
            id="amount"
            name="amount"
            ngModel
            required
            type="number"
            placeholder="Enter Amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="form.invalid" class="btn btn-success"
                  type="submit">{{ editMode ? "Update" : "Add"}}</button>
          <button (click)="onRemoveItem(editedItemIndex)" [disabled]="!editMode" class="btn btn-danger" type="button">
            Delete
          </button>
          <button (click)="onResetForm()" class="btn btn-primary" type="button">Reset form</button>
        </div>
      </div>
    </form>
  </div>
</div>
