<label>Server Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
  placeholder="{{ 'please enter server name...' }}"
>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button
        class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
        Add Server
      </button>
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-primary"
        (click)="toggleDetails()"
      >
        Display Details
      </button>
    </div>
  </div>
</div>

<p *ngIf="!hideDetails">{{ 'Angular Rocks' }}</p>
<li
  *ngFor="let btnClick of detailsClicks"
  [ngClass]="{'normal-detail': detailsClicks.indexOf(btnClick) < 4, 'blue-detail': detailsClicks.indexOf(btnClick) > 4}"
>
  {{ btnClick }}
</li>
<p *ngIf="serverCreated">{{ serverCreationStatus }}</p>
<app-server *ngFor="let server of servers"></app-server>
