.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 25vh;
  left: 70vh;
  width: 50vh;
  padding: 16px;
  z-index: 100;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.alert-box-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-box-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-box-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-box-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-box-actions {
  cursor: pointer;
  color: inherit;
  text-align: right;
}

/* Path: src/app/shared/components/alert/alert/alert.component.html */
